.scroll-track {
    display: flex;
    flex-direction: column;
    animation: scrollUp 10s linear infinite;
}

.comment-item {
    padding: 6px 10px;
    margin-bottom: 6px;
    border-radius: 10px;
    background: rgba(120, 50, 61, 0.671);
    color: white;
    font-size: 14px;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}